{% extends 'base.html.twig' %}

{% block body %}
    <h1>Task</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ task.name }}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{ task.owner }}</td>
            </tr>
            <tr>
                <th>Isfinished</th>
                <td>{% if task.isFinished %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Estimatedtime</th>
                <td>{{ task.estimatedTime }}</td>
            </tr>
        </tbody>
    </table>

    <h2>Log entries</h2>
    <table>
        <thead>
            <tr><th>Id</th><th>Name</th><th>From</th><th>To</th><th>Duration</th><th></th><th></th></tr>
        </thead>
        <tbody>
            {% for logEntry in task.logEntries %}
                <tr>
                    <td>{{ logEntry.id }}</td>
                    <td>{{ logEntry.name }}</td>
                    <td>{{ logEntry.from.format('d.m.Y H:i') }}</td>
                    <td>{{ logEntry.to.format('d.m.Y H:i') }}</td>
                    <td>{{ logEntry.duration.format('%hh %Im') }}</td>
                    <td><a href="{{ path('log-entry-complete', {id: logEntry.id}) }}">Edit</a></td>
                    <td><a href="{{ path('log_entry_delete', {id: logEntry.id}) }}">Delete</a></td>
                </tr>
            {% else %}
                <tr><td colspan="5">No entries</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('task_edit', { 'id': task.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
